<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<title>CloudCity - Index</title>
	</head>

	<body>

		<div class="jumbotron text-center">
			<div class="container">
				<a href="/" class="h1">CloudCity</a>
				<h3 class="text-muted">Crowd-sourced Distributed Cloud Service</h3>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center">
					<div class="container">
						<a href="/client" class="btn btn-dark btn-lg" role="button">I want to host my service</a>
					</div>
				</div>
				<div class="col-lg-6 text-center">
					<div class="container">
						<a href="/server" class="btn btn-dark btn-lg" role="button">I want to propose my hardware</a>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
